/******** Reset ********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; 
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}
* {
	box-sizing: border-box; 
}
a{
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #9ece02;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .jumbotron h1, .jumbotron .h1{
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}
.heading-with-border b, .fs-title-1, .cross-sells > h2, .up-sells > h2, .upsells > h2{
	padding-bottom: 5px;
	font-weight: 500;
	border-bottom: 2px solid #9ece02;
	font-family: "Roboto", Sans-serif;
}
select, input, button,
.form-control, .input-text.qty.text,
.page-template-default .select2-container--default .select2-selection--single,
.page-template-default .select2-dropdown{
	font-size: 14px;
	border-radius: 0;
	border: 1px solid #ccc;
}
ul {
	padding-left: 20px;
}
select{
	height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 26px;
	color: #555555;
	border: 1px solid #ccc;
}
.btn{
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: none;
}
.btn span{
	padding-right: 5px;
}
.box-category .select2,
.woocommerce-ordering .select2{
	height: 30px;
	line-height: 30px;
}
.box-category .select2-container--default .select2-selection--single,
.woocommerce-ordering .select2-container--default .select2-selection--single{
	height: 30px;
	outline: none;
}
.box-category .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__rendered{
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
.page-template .select2-results__option,
.page-template-default .select2-results__option,
.archive .select2-results__option {
	padding: 8px;
	font-size: 14px;
}
.page-template-default .select2-container--default .select2-selection--single .select2-selection__arrow,
.page-template .select2-container--default .select2-selection--single .select2-selection__arrow,
.archive .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 28px;
}
.page-template-default .select2-container--default .select2-results__option--highlighted[aria-selected],
.page-template-default .select2-container--default .select2-results__option--highlighted[data-selected],
.page-template .select2-container--default .select2-results__option--highlighted[aria-selected],
.page-template .select2-container--default .select2-results__option--highlighted[data-selected],
.archive .select2-container--default .select2-results__option--highlighted[aria-selected],
.archive .select2-container--default .select2-results__option--highlighted[data-selected]{
	font-size: 14px;
	background-color: #9ece02;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.btn-primary, .fs-add-to-cart-btn, 
.comment-form #submit, 
.product-type-grouped .single_add_to_cart_button{
	background-color: #9ece02;
	border: none;
}
.btn-primary:hover, .fs-add-to-cart-btn:hover, 
.comment-form #submit:hover, 
.product-type-grouped .single_add_to_cart_button:hover{
	background-color: #758c40;
	border: none;
}
.elementor-container > .elementor-row{
	padding: 0 20px;
}
.added_to_cart{	
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background-color: #ffa825;
	border: none;
}
.added_to_cart:hover{	
	background-color: #e28800;
	border: none;
}
.btn-info{
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: none;
	background-color: #89c7da;
}
.btn-info[disabled]{
	background-color: #c1ced2;
	opacity: 1;
}

/* header */
.elementor-location-header .box-icon a{
	margin: 5px;
	padding: 5px;
	display: inline-block;
  vertical-align: middle;
}

/* home */
.wrap-home > .elementor-column-wrap > .elementor-widget-wrap{
	display: block;
}
.home #main > article{
	padding: 50px 0;
}
.home .box-category{
	float: right;
	width: 200px;
}
.home .box-category h5{
	text-align: right;
	margin-bottom: 10px;
}
.home .box-product{
	float: left;
}
.products .product img{	
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.products .product h2{
	margin: 20px 0 10px;
}
.product .onsale{
	padding: 5px 8px;
	top: 5px;
	right: 5px;
	border-radius: 0;
	background-color: #ff2525;
}
.woocommerce .elementor-widget-woocommerce-product-images span.onsale{
	padding: 5px 8px;
}
.price,
.woocommerce .elementor-widget-woocommerce-product-price .price {
	color: #9ece02;
	font-family: "Roboto", Sans-serif;
	font-size: 17px;
	font-weight: 600;
}
.price del{
	display: inline;
	font-size: 15px;
	padding-right: 5px;
}
.price ins{
	color: red;
  border-bottom-color: red;
}

/* shop */
.page-shop{
	position: relative;
}
.page-shop .box-category{
	position: absolute;
	top: 0;
	right: 230px;
	width: 210px;
	z-index: 1;
}
.archive .woocommerce-result-count{
	float: left;
}

/* product detail */
.single-product .entry-header{
	text-align: left;
	padding: 30px 0;
}
.single-product .elementor-widget-woocommerce-product-title.elementor-widget-heading .elementor-heading-title{
	font-size: 2em;
	margin: 0 0 20px;
	color: #333;
	font-weight: 500;
}
.single-product.woocommerce .elementor-widget-woocommerce-product-price .price {
	font-size: 1.4em;
}
.well, .woocommerce .summary form.cart{
	min-height: 20px;
	padding: 0;
	margin-bottom: 20px;
	background-color: none;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
}
.single-product .related.products > h2{
	font-family: "Roboto", Sans-serif;
	color: #9ece02;
	font-size: 1.4em;
}
.single-product .elementor-widget-woocommerce-product-content{	
	color: #333;
}
.single-product .elementor-widget-woocommerce-product-content strong{
	margin-top: 10px;
	display: block;
}
.single-product .elementor-widget-woocommerce-product-content ul{
	padding-left: 20px;
}

/* cart + checkout */
.woocommerce-cart #main > article,
.woocommerce-checkout #main > article{
	padding: 50px 0;}
.entry-title{
	color: #9ece02;
	font-size: 2em;
	margin-bottom: 20px;
	font-weight: 500;
	text-transform: uppercase;
}
.shop_table thead{
	background-color: #f5f5f5;
}
.woocommerce-cart .coupon{
	float: left;
}
.woocommerce-cart .coupon #coupon_code{
	margin: 0 5px;
	padding: 0 10px;
}
.woocommerce-cart .coupon #coupon_code:focus{
	outline: none;
}
.woocommerce-cart .coupon input[type="submit"]{
	border-radius: 6px;
	background-color: #9ece02;
	color: #fff;
	border: none;
	padding: 2px 10px;
}
.woocommerce-cart .coupon input[type="submit"]:hover{
	background-color: #758c40;
  border: none;
}
.cart-collaterals h2{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.cart-collaterals .table > tbody > tr > td,
.cart-collaterals .table > tbody > tr > th{
	border-style: solid;
}
.cart-collaterals .table > tbody > tr:last-child > td,
.cart-collaterals .table > tbody > tr:last-child > th{
	border-bottom: 1px solid #ddd;
}
.woocommerce-checkout .wc_payment_methods{
	background-color: #f5f5f5;
	padding: 15px 20px;
	margin-bottom: 30px;
}
.woocommerce-checkout .text-warning {
	color: #777;
}
.woocommerce-checkout #order_review_heading{
	text-align: left;
}
.woocommerce-checkout #customer_details label{
	margin-bottom: 5px;
}
.woocommerce-checkout .woocommerce-bacs-bank-details{
	margin: 30px 0;
}
.woocommerce-checkout .wc-bacs-bank-details-heading,
.woocommerce-checkout .woocommerce-order-details__title{
	font-size: 1.2em;
	font-weight: 500;
	color: #333;
	border-bottom: 2px solid #9ece02;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}